extends template.pug

append head
    link(rel="stylesheet", href="/css/style.css")


append title
    | HomePage
append headerTitle
    | HomePage

append content

    for project of projects

        | hm #{project.name}
        br