<!DOCTYPE html>
html(lang="pl")

    head

        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <title>
            | Mateusz#4711
            block title
        </title>

    body

        div#title
            block headerTitle

        div#content

            block content
