<!DOCTYPE html>
html(lang="pl")

    head

        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" type="image/png" href="icons/favicon.png")
        block head
        title Mateusz#4711

    body(class="preload")

        div#title
            block headerTitle

        div#content

            block content

        block projects

    block js