$main-bg-color: #161e25;
$main-font-color: #b7d0e8;
$title-font-color: #8fc7fa;
$titles-font-size: 50px;
$descriptions-font-size: 35px;

#title {
    animation: animT 1.5s ease-in 0.5s forwards;
}

body {

    #content {

        animation: animB 2s ease-in 0.5 forwards;

        #aboutme {
            
            #about {
                padding-left: 100px;
                padding-right: 100px;
            }

            #langs {
                .lang {
                    display: inline-block;
                    a { 
                        margin: 10px;
                        color: $title-font-color;
                        text-decoration: none;
                        transition: color 1s;
                        &:hover {
                            color: #43739f;
                            transition: color 1s;
                        }
                    }
                }
            }

            #social {
                .media {
                    display: inline-flex;
                    a {
                        animation: animT 1.5s ease-in 1s forwards;
                        color: $title-font-color;
                        margin: 10px;
                        text-decoration: none;
                        transition: color 1s;
                        transition: font-size 1s;
                        &:hover {
                            color: #43739f;
                            transition: color 1s;
                            transition: font-size 1s;
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        .hrLine {
            width: 30%;
            background-color: lightblue;
        }

        #projects {
            a {
                font-size: 30px;
                text-decoration: none;
                color:  #3997ee;
                transition: color 1s;
                &:hover {
                    color: #81b1df;
                    transition: color 1s;
                }
            }
        }

    }

}

@keyframes animT {

    0% {
        text-shadow: 1px 1px 1px $main-bg-color;
    }

    33% {
        text-shadow: 1px 1px 100px $main-font-color;
    }

    66% {
        text-shadow: 1px 1px 50px $main-font-color;
    }

    100% {
        text-shadow: 1px 1px 10px #b7d0e880;
    }

}

@keyframes animB {

    0% {
        border: rgba(0, 102, 120, 0.005) dashed;
    }

    50% {
        border: rgba(0, 102, 120, 0.203) dashed;
    }

    100% {
        border: rgba(0, 102, 120, 0.078) dashed;
    }

}